body {
    background-color: black;
    
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.displays {
    display: flex;
    gap: 20px;
}

#ascii_canvas {
    border: 3px solid white;
}

#ascii_text{
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    width: 512px;
    height: 512px;
    background-color: #202020;
    margin: 0;
    text-align: center;
    color: white;
    overflow: hidden;
    white-space: pre;
}

.controls > label {
    color: white;
    justify-content: center;
}